<!doctype html>
<html lang="zh-CN">
<head>
    {include file="common/head"}
</head>
<body class="user-select">
{include file="common/header"}
<section class="container">
    <div class="content-wrap">
        <div class="content">
            <div class="title">
                <h3 style="line-height: 1.3">‘{$keyword}’关键字搜索结果</h3>
            </div>
            {foreach $data as $v}
            <article class="excerpt excerpt-1" style="">
                <a class="focus" href="{:url('index/show')}?id={$v.id}" title="" target="_blank" ><img class="thumb" data-original="{$v.image}" src="{$v.image}" alt="用DTcms做一个独立博客网站（响应式模板）"  style="display: inline;"></a>
                <header><a class="cat" href="#" title="MZ-NetBlog主题" >{$v.catslug}<i></i></a>
                    <h2><a href="{:url('index/show')}?id={$v.id}" title="" target="_blank" >{$v.title}</a>
                    </h2>
                </header>
                <p class="meta">
                    <time class="time"><i class="glyphicon glyphicon-time"></i>{$v.date}</time>
                    <span class="views"><i class="glyphicon glyphicon-eye-open"></i> {$v.view}</span> <a class="comment" href="##comment" title="评论" target="_blank" ><i class="glyphicon glyphicon-comment"></i> {$v.comment}</a>
                </p>
                <p class="note">{$v.snipper}</p>
            </article>
            {/foreach}
            <nav class="pagination" style="display: none;">
                <ul>
                    <li class="next-page"><a href="?page={$page}&keyword={$keyword}">下一页</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <aside class="sidebar">
        <div class="fixed">
            {include file="public/search"}
            <div class="widget widget_sentence">
                <h3>标签云</h3>
                <div class="widget-sentence-content">
                    <ul class="plinks ptags">
                        <li><a href="#list/67/" title="移动统计" draggable="false">移动统计 <span class="badge">1</span></a></li>
                        <li><a href="#list/256/" title="404" draggable="false">404 <span class="badge">1</span></a></li>
                        <li><a href="#list/252/" title="VS2010" draggable="false">VS2010 <span class="badge">1</span></a></li>
                        <li><a href="#list/162/" title="杀毒软件" draggable="false">杀毒软件 <span class="badge">1</span></a></li>
                        <li><a href="#list/133/" title="html标签" draggable="false">html标签 <span class="badge">1</span></a></li>
                        <li><a href="#list/49/" title="循环" draggable="false">循环 <span class="badge">2</span></a></li>
                        <li><a href="#list/22/" title="百度统计" draggable="false">百度统计 <span class="badge">2</span></a></li>
                        <li><a href="#list/132/" title="sql" draggable="false">sql <span class="badge">6</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        {include file="public/new"}
        <div class="widget widget_sentence">

            <a href="#" target="_blank" rel="nofollow" title="MZ-NetBlog主题" >
                <img style="width: 100%" src="/static/index/images/ad.jpg" alt="MZ-NetBlog主题" ></a>

        </div>
        <div class="widget widget_sentence">

            <a href="#" target="_blank" rel="nofollow" title="专业网站建设" >
                <img style="width: 100%" src="/static/index/images/201610241224221511.jpg" alt="专业网站建设" ></a>

        </div>
    </aside>
</section>
{include file="common/footer"}
</body>
</html>
